.races {
    display: flex;
    justify-content: center;
    
    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }

        & {
            transform: scale(0.8);
            opacity: 0.7;
        }
        
        &--active {
            transform: scale(1);
            opacity: 1;
        }
    }
}