<section class="races box--margin_primary_bottom">
    <button id="selectHuman" class="races__item button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_human.png' alt='Image race human'}}
    </button>

    <button id="selectOrc" class="races__item button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_orc.png' alt='Image race orc'}}
    </button>

    <button id="selectUndead" class="races__item button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_undead.png' alt='Image race undead'}}
    </button>

    <button id="selectNightElf" class="races__item button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_nightElf.png' alt='Image race night elf'}}
    </button>
</section>