<section class="races">
    <button id="selectHuman" class="button--reset_styles" onclick="AHK('selectFraction', 2)">
        {{> ../../elements/IconRace/index src='./assets/icon_race_human.png' alt='Image race human'}}
    </button>

    <button id="selectOrc" class="button--reset_styles" onclick="AHK('selectFraction', 1)">
        {{> ../../elements/IconRace/index src='./assets/icon_race_orc.png' alt='Image race orc'}}
    </button>

    <button id="selectUndead" class="button--reset_styles" onclick="AHK('selectFraction', 4)">
        {{> ../../elements/IconRace/index src='./assets/icon_race_undead.png' alt='Image race undead'}}
    </button>

    <button id="selectNightElf" class="button--reset_styles" onclick="AHK('selectFraction', 3)">
        {{> ../../elements/IconRace/index src='./assets/icon_race_night_elf.png' alt='Image race night elf'}}
    </button>
</section>