<section class="races">
    <button id="selectHuman" class="button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_human.png' alt='Image race human'}}
    </button>

    <button id="selectOrc" class="button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_orc.png' alt='Image race orc'}}
    </button>

    <button id="selectUndead" class="button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_undead.png' alt='Image race undead'}}
    </button>

    <button id="selectNightElf" class="button--reset_styles button--circle">
        {{> ../../elements/IconRace/index src='./assets/icon_race_nightElf.png' alt='Image race night elf'}}
    </button>
</section>