<div class="row">
    <button class="selectConfigForButton_button button--reset_styles">
        Racial heroes
    </button>
    <button class="selectConfigForButton_button button--reset_styles">
        Neutral heroes
    </button>
</div>
<div class="row">
    <button class="selectConfigForButton_button button--reset_styles">
        Racial units
    </button>
    <button class="selectConfigForButton_button button--reset_styles">
        Neutral units
    </button>
</div>
<div class="row">
    <button class="selectConfigForButton_button button--reset_styles">
        Racial building
    </button>
    <button class="selectConfigForButton_button button--reset_styles">
        Neutral building
    </button>
</div>