<div id="categories">
    <div class="row">
        <button id="categoryUnitsRace" class="selectConfigForButton_button button--reset_styles">
            category units race
        </button>
        <button id="categoryUnitsNeutral" class="selectConfigForButton_button button--reset_styles">
            category units neutral
        </button>
    </div>
    <div class="row">
        <button id="categoryBuildingRace" class="selectConfigForButton_button button--reset_styles">
            building race
        </button>
        <button id="categoryBuildingNeutral" class="selectConfigForButton_button button--reset_styles">
            building neutral
        </button>
    </div>
</div>