<div id="categories">
    <div class="row box--margin_primary_bottom">
        <button id="categoryUnitsRace"
            class="box--small_border categories_button_text box--bg_tertiary box--opacity_hover box--margin_primary_right categories_button button--reset_styles font--color_primary">
            <p class="font__text_primary font--family_primary">
                Units race
            </p>
        </button>
        <button id="categoryUnitsNeutral"
            class="box--small_border categories_button_text box--bg_tertiary box--opacity_hover categories_button button--reset_styles font--color_primary">
            <p class="font__text_primary font--family_primary">
                Units neutral
            </p>
        </button>
    </div>
    <div class="row">
        <button id="categoryBuildingRace"
            class="box--small_border categories_button_text box--bg_tertiary box--opacity_hover box--margin_primary_right categories_button button--reset_styles font--color_primary">
            <p class="font__text_primary font--family_primary">
                Building race
            </p>
        </button>
        <button id="categoryBuildingNeutral"
            class="box--small_border categories_button_text box--bg_tertiary box--opacity_hover categories_button button--reset_styles font--color_primary">
            <p class="font__text_primary font--family_primary">
                Building neutral
            </p>
        </button>
    </div>
</div>