<button id="button{{id}}" class="bind_buttons_button box--small_border button--reset_styles">

    {{#if unitName}}
    <img class="bind_buttons_button__img" src={{unitImgUrl}} alt="Image {{unitName}}">
    {{/if}}

    <p class="bind_buttons_button__font font--color_primary">{{id}}</p>
</button>