<section class="buttons row--center">
    <div>
        <div>
            <button id="buttonQ" class="buttons__button button--reset_styles">
                <p>Q</p>
            </button>
            <button id="buttonW" class="buttons__button button--reset_styles">
                <p>W</p>
            </button>
            <button id="buttonE" class="buttons__button button--reset_styles">
                <p>E</p>
            </button>
        </div>
        <div>
            <button id="buttonA" class="buttons__button button--reset_styles">
                a
            </button>
            <button id="buttonS" class="buttons__button button--reset_styles">
                s
            </button>
            <button id="buttonD" class="buttons__button button--reset_styles">
                d
            </button>
        </div>
        <div>
            <button id="buttonZ" class="buttons__button button--reset_styles">
                z
            </button>
            <button id="buttonX" class="buttons__button button--reset_styles">
                x
            </button>
            <button id="buttonC" class="buttons__button button--reset_styles">
                c
            </button>
        </div>
    </div>
</section>