<section id="bindButtons" class="bind_buttons row--center">
    <div class="box--big_border">
        <div class="box--padding_primary box--bg_secondary box--relative">
            <div class="row">
                {{> ./button.handlebars id="Q" unitName=config.q.unitName unitImgUrl=config.q.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="W" unitName=config.w.unitName unitImgUrl=config.w.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="E" unitName=config.e.unitName unitImgUrl=config.e.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="R" unitName=config.r.unitName unitImgUrl=config.r.unitImgUrl }}
                {{> ./button.handlebars id="T" unitName=config.t.unitName unitImgUrl=config.t.unitImgUrl }}
            </div>
            <div class="row">
                {{> ./button.handlebars id="A" unitName=config.a.unitName unitImgUrl=config.a.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="S" unitName=config.s.unitName unitImgUrl=config.s.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="D" unitName=config.d.unitName unitImgUrl=config.d.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="F" unitName=config.f.unitName unitImgUrl=config.f.unitImgUrl }}
                {{> ./button.handlebars id="G" unitName=config.g.unitName unitImgUrl=config.g.unitImgUrl }}
            </div>
            <div class="row">
                {{> ./button.handlebars id="Z" unitName=config.z.unitName unitImgUrl=config.z.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="X" unitName=config.x.unitName unitImgUrl=config.x.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="C" unitName=config.c.unitName unitImgUrl=config.c.unitImgUrl
                canRemove=true }}
                {{> ./button.handlebars id="V" unitName=config.v.unitName unitImgUrl=config.v.unitImgUrl }}
                {{> ./button.handlebars id="B" unitName=config.b.unitName unitImgUrl=config.b.unitImgUrl }}
            </div>
            <div class="row row--align_items">
                <h2 class="font--color_primary">Auto Move</h2>
                {{> ../../elements/Toggler/index.handlebars id="buttonIsAutoMove" class="box--small_border"}}
            </div>
            <div>
                <button id="buttonSaveConfig"
                    class="button button--small_padding box--small_border button--reset_styles font--color_primary">
                    Save your config
                </button>
            </div>
        </div>
    </div>
</section>