<section class="buttons row--center">
    <div>
        <div>
            {{> ./button.handlebars text="Q" name=config.q.unitName}}
            {{> ./button.handlebars text="W" name=config.w.unitName}}
            {{> ./button.handlebars text="E" name=config.e.unitName}}
        </div>
        <div>
            {{> ./button.handlebars text="A" name=config.a.unitName}}
            {{> ./button.handlebars text="S" name=config.s.unitName}}
            {{> ./button.handlebars text="D" name=config.d.unitName}}
        </div>
        <div>
            {{> ./button.handlebars text="Z" name=config.z.unitName}}
            {{> ./button.handlebars text="X" name=config.x.unitName}}
            {{> ./button.handlebars text="C" name=config.c.unitName}}
        </div>
        <div>
            <button id="buttonSaveConfig">
                save config
            </button>
        </div>
    </div>
</section>