<div class="selectConfigForButton row--center">
    <div>
        <div>
            <button id="buttonBack">back</button>
            {{> ../../elements/InputSearch/index }}
        </div>

        <div id="contentAfterSearch">
            {{> ../../components/Categories/index }}
        </div>
    </div>
</div>