.button {
    &:hover, &:focus {
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }
    
    &-- {
        &reset_styles {
            padding: 0px;
            margin: 0px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        
        &small_padding {
            padding: 5px 15px;
        }
    }
}

.common_icon_button {
    height: 100px;
    width: 100px;

    @media (min-width: 800px) and (min-height: 700px) {
        $size: 120px;
        height: $size;
        width: $size;
    }
    @media (min-width: 1000px) and (min-height: 800px) {
        $size: 140px;
        height: $size;
        width: $size;
    }
    @media (min-width: 1200px) and (min-height: 900px) {
        $size: 160px;
        height: $size;
        width: $size;
    }
}