<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>

<body>
    {{> ./components/Header/index }}
    {{> ./pages/Main/index}}
    <a target="_blank" href="https://github.com/Arziburst/TJS_frontend/blob/master/source/api/gallery.ts">link</a>
</body>

</html>