@import url("./init/reset.scss");
@import "./assets/themes/defaultTheme.scss";

body {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/images/map.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-wrap: wrap;

    &-- {
        &center {
            display: flex;
            justify-content: center;
        }
        &align_items_center {
            align-items: center;
        }
        &justify_content_space_between {
            justify-content: space-between;
        }
    }
}

.box {
    &--flex {
        display: flex;
    }
    &--relative {
        position: relative;
    }
    &--padding_primary {
        padding: 20px;

        &_bottom {
            padding-bottom: 20px;
        }
    }
    &--margin_primary {
        &_bottom {
            margin-bottom: 20px;
        }
        &_right {
            margin-right: 20px;
        }
    }
    &--big_border {
        border: 19px solid #000;
        border-image: url('./assets/images/big_metal_border.png') 38 repeat;
        min-height: 160px;
        position: relative;
        
        &::before {
            position: absolute;
            content: '';
            top: calc(-19.5px);
            left: calc(-20px);
            bottom: calc(-19px);
            right: calc(-18px);
            background: url("./assets/images/big_metal_border_top_left.png") no-repeat top left,
                url("./assets/images/big_metal_border_top_right.png") no-repeat top right,
                url("./assets/images/big_metal_border_bottom_left.png") no-repeat bottom left,
                url("./assets/images/big_metal_border_bottom_right.png") no-repeat bottom right;
            background-size: 104px auto,112px auto,196px auto,155px auto;
        }
    }
    &--small_border {
        border: 6px solid #000;
        border-image: url("./assets/images/small_metal_border.png") 6 repeat;
    }
    &--smooth {
        border-radius: 5px;
    }
    &--circle {
        border-radius: 50%;
    }
    &--bg {
        &_secondary {
            background-color: $color_secondary;
        }
    }
}

.font {
    &--color_ {
        &primary {
            color: $color_primary;
        }
    }
}
