<!DOCTYPE html>
<html>

{{!--

<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head> --}}

{{> ./pages/head}}

<body>
    {{> ./components/Header/index }}
    <main id="main" class="main">
        {{> ./components/Races/index }}
        {{> ./components/Buttons/index }}
    </main>
    <a target="_blank" href="https://github.com/Arziburst/TJS_frontend/blob/master/source/api/gallery.ts">link</a>
</body>

</html>