<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>

<body>
    {{> ./components/Header/index }}
    {{> ./components/Races/index }}
    <section class="main">
    </section>
    <a target="_blank" href="https://github.com/Arziburst/TJS_frontend/blob/master/source/api/gallery.ts">link</a>
    <div id="testData"></div>
</body>

</html>