@import url("./init/reset.scss");

body {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/images/map.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;

    &-- {
        &center {
            display: flex;
            justify-content: center;
        }
    }
}