@import '../../assets/themes/defaultTheme.scss';

.toggler {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 58px;
}

.toggler input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.toggler__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: $color_tertiary;
}

.toggler__slider:before {
    position: absolute;
    transform: translate(0%, 0%);
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $color_secondary;
    border: 6px solid #000;
    border-image: url("../../assets/images/small_metal_border.png") 6 repeat;
    border-image-repeat: stretch;
    border-radius: 8px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggler__slider {
    background-color: rgba($color_primary, 0.5);
}

input:checked + .toggler__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggler__slider--round {
    border-radius: 34px;
}

.toggler__slider--round:before {
    border-radius: 50%;
}