<div class="selectConfigForButton row--center">
    <div>
        <div class="row row--align_items_center row--center box--margin_primary_bottom">
            <button id="buttonBack"
                class="box--bg_secondary box--smooth_secondary box--opacity_hover box--small_border box--margin_primary_right font--color_primary button--reset_styles">
                <p class="button--small_padding">Back</p>
            </button>
            {{> ../../elements/InputSearch/index }}
        </div>

        <div class="box--big_border">
            <div id="contentAfterSearch" class="box--relative box--padding_primary box--bg_secondary">
                {{> ../../components/Categories/index }}
            </div>
        </div>
    </div>
</div>