<div class="selectConfigForButton row--center">
    <div>
        <div class="box--margin_primary_bottom">
            <button id="buttonBack" class="button box--small_border font--color_primary button--reset_styles">
                <div class="box--bg_secondary button--small_padding">
                    <p>Back</p>
                </div>
            </button>
            {{> ../../elements/InputSearch/index }}
        </div>

        <div class="box--big_border">
            <div id="contentAfterSearch" class="box--relative box--padding_primary box--bg_secondary">
                {{> ../../components/Categories/index }}
            </div>
        </div>
    </div>
</div>